/*
  GLOBAL VARIABLES
*/

// Font:
$global-font: 'Source Sans Pro', sans-serif;

// Colors:
$gray: #A0A0A0;
$light-gray: #F9F9F7;
$white: #FFF;
$black: #000;
$red: #FF0000;

// Device Widths:
$tablet: 760px;
